--only-binary :all:
Flask==3.0.3
gradio==3.43.0
pillow==10.2.0
opencv-python==4.9.0.80
srt==3.5.3
ffmpeg-python==0.2.0
python-dotenv
torch==2.2.0+cpu
torchvision==0.17.0+cpu
transformers==4.37.2
